#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top:10px;
    padding-bottom:50px;
    margin: 40px;
  } 

img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}


 
